libs/RPiGPSDemo/build/
libs/RPiGPSDemo/dist/

libs/GPSDemo/build/
libs/GPSDemo/dist/

data/

libs/log4c/etc/
libs/log4c/bin/
libs/log4c/lib/
libs/log4c/share/

libs/libpifacecad/*.a
libs/libpifacecad/src/*.o
libs/libmcp23s17/*.a
libs/libmcp23s17/src/*.o

libs/libpifacecad
libs/libmcp23s17
libs/log4c
libs/wiringPi

geofence
mavlink_control
external/log4c-1.2.4

*.o
*.a
*.d
*.so

geofence.sublime-project
geofence.sublime-workspace

build1.sh
build2.sh

misc/GLOBAL_TODO.txt

build/
dist/
nbproject/
logs/
dump/

log.txt
operation.log
.dep.inc
.vscode
