RPiGPSDemo/build/
RPiGPSDemo/dist/
RPiGPSDemo/nbproject/
RPiGPSDemo/Makefile
RPiGPSDemo/.dep.inc

GPSDemo/build/
GPSDemo/dist/
GPSDemo/nbproject/
GPSDemo/Makefile
GPSDemo/.dep.inc

log4c

log4c/etc/
log4c/bin/
log4c/lib/
log4c/share/

*.o
*.a

geofence.sublime-project
geofence.sublime-workspace

build1.sh

misc/GLOBAL_TODO.txt

build/
dist/
nbproject/
logs/

log.txt
operation.log
Makefile
.dep.inc

/build/
/dist/

