RPiGPSDemo/build/
RPiGPSDemo/dist/

GPSDemo/build/
GPSDemo/dist/

log4c

log4c/etc/
log4c/bin/
log4c/lib/
log4c/share/

*.o
*.a

geofence.sublime-project
geofence.sublime-workspace

build1.sh

misc/GLOBAL_TODO.txt

build/
dist/

logs/

log.txt
operation.log
/build/
/dist/
